@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-regular.woff2),
    url(../fonts/Gilroy-regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-medium.woff2),
    url(../fonts/Gilroy-medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: url(../fonts/RoadRadio-Light.woff2),
    url(../fonts/RoadRadio-Light.woff);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: url(../fonts/RoadRadio-Regular.woff2),
    url(../fonts/RoadRadio-Regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
